@(veiculo: Veiculo, compraForm: Form[Compra])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Registrar Compra") {
    <table class="table table-bordered table-condensed">
        <tr>
            <th>Ano</th><th>Placa</th><th>Chassi</th>
            <th>Cilindradas</th><th>Modelo</th>
        </tr>
        <tr>
            <td>@veiculo.anoFabricacao</td>
            <td>@veiculo.placa</td>
            <td>@veiculo.chassi</td>
            <td>@veiculo.cilindradas</td>
            <td>@veiculo.modelo.descricao</td>
        </tr>
    </table>
    
    @form(routes.Compras.salvar(), 'class -> "form-horizontal") {
   		@inputDate(compraForm("data"), '_label -> "Data", '_help -> "dd/MM/yyyy HH:mm")
   		@inputText(compraForm("preco"), '_label -> "Preco")
   		@textarea(compraForm("obs"), '_label -> "Observações")
   		<input type="hidden" name="idVeiculo" value="@veiculo.id">
  <div class="control-group">
    <div class="controls">
            <input type="submit" class="btn primary" value="Salvar" />
    </div>
    </div>
    }
     
}