@(veiculo: Veiculo, compraForm: Form[Compra])

@import helper._

@main("Registrar Compra") {
    
    <h1>Registrar Compra</h1>
    
    <table border="1">
        <tr>
            <td colspan="2">
              Veículo
            </td>
        </tr>
        <tr>
            <td>
                Ano
            </td>
            <td>
                @veiculo.anoFabricacao
            </td>
        </tr>
        <tr>
            <td>
                Placa
            </td>
            <td>
                @veiculo.placa
            </td>
        </tr>
        <tr>
            <td>
                Chassi
            </td>
            <td>
                @veiculo.chassi
            </td>
        </tr>
        <tr>
            <td>
                Cilindradas
            </td>
            <td>
                @veiculo.cilindradas
            </td>
        </tr>
        <tr>
            <td>
                Modelo
            </td>
            <td>
                @veiculo.modelo.descricao
            </td>
        </tr>
    </table>
    
    @form(routes.Compras.salvar()) {
   		@inputText(compraForm("data"), '_label -> "Data (dd/MM/yyyy HH:mm)")
   		@inputText(compraForm("preco"), '_label -> "Preco")
   		@inputText(compraForm("obs"), '_label -> "Observações")
   		<input type="hidden" name="idVeiculo" value="@veiculo.id">
   		<input type="submit" value="Salvar">
    }
    
}