@(fabricantes: List[Fabricante], inserirForm: Form[Fabricante], emEdicao: Boolean)

@import helper._
@import helper.twitterBootstrap._

@main("Fabricantes") {
  <h1>Fabricantes Cadastrados</h1>
  <table class="table table-bordered table-condensed">
  @for(f <- fabricantes.sortBy(_.descricao)) {
    <tr>
      <td>@f.descricao</td>
      <td>
		<a href="@routes.Fabricantes.editar(f.id)" class="btn btn-mini">Editar</a>
		<a href="@routes.Fabricantes.remover(f.id)" class="btn btn-danger btn-mini">Remover</a>
      </td>
    </tr>
  }  
  </table>
  @form(routes.Fabricantes.salvar()){
    <fieldset> 
    <legend>
      @if(emEdicao) {Editar Fabricante} else {Novo Fabricante}
    </legend>  
	@inputText(
	  inserirForm("descricao"),
	  '_label -> "Descrição",
	  'placeholder -> "Descrição do Fabricante"
	)
	<input type="hidden" name="id" value="@inserirForm("id").value">
	
	<div class="actions">
        <input type="submit" class="btn primary" value="Salvar" />
    </div>
    </fieldset>
  }
}