@(veiculos: List[Veiculo], inserirForm: Form[Veiculo], emEdicao: Veiculo, modelos: List[Modelo])

@import helper._
@import helper.twitterBootstrap._

@main("Veículos") {
    
    <h1>Veículos Cadastrados</h1>
    
    <table class="table table-bordered table-condensed">
    	<tr>
    		<td>Ano</td>
    		<td>Placa</td>
    		<td>Modelo</td>
    		<td>Cilindradas</td>
    		<td>Chassi</td>
    	</tr>
        @for(v <- veiculos) {
        <tr>
            <td>@v.anoFabricacao</td>
            <td>@v.placa</td>
            <td>@v.modelo.descricao</td>
            <td>@v.cilindradas</td>
            <td>@v.chassi</td>
      <td>
		<a href="@routes.Veiculos.editar(v.id)" class="btn btn-mini">Editar</a>
		<a href="@routes.Veiculos.remover(v.id)" class="btn btn-danger btn-mini">Remover</a>
      </td>
        </tr>
        }
    </table>
    
    <h2>
      @if(emEdicao == null){
      	Novo Veículo
      }else{
        Editar Veículo
      }
    </h2>
    
    @form(routes.Veiculos.salvar()) {
   		@inputText(inserirForm("anoFabricacao"), '_label -> "Ano*")
   		@inputText(inserirForm("placa"), '_label -> "Placa*")
   		@inputText(inserirForm("cilindradas"), '_label -> "Cilindradas")
   		@inputText(inserirForm("chassi"), '_label -> "Chassi")
		@select(
		  inserirForm("modelo.id"),
		  options = modelos.map{m => (m.id.toString, m.descricao)},
		  '_label -> "Modelo"
		)
   		<input type="hidden" name="id" value="@inserirForm("id").value">
	    <div class="actions">
          <input type="submit" class="btn primary" value="Salvar" />
        </div>
    }
    
}